body {
  padding-bottom: 68px;
}

.container {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  th {
    border-bottom: 1px solid #ccc;
  }
  td {
    border-bottom: 1px solid #eee;
  }
}

.bottom-bar {
  align-items: center;
  background: #000;
  box-sizing: border-box;
  color: #fff;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  button {
    color: initial;
  }
}
